<h1>events list</h1>
<!-- <a href="">Go back to calendar</a> -->
<a href="{% url 'event-create' %}">Add new event</a>
<table>
    <tr>
        <th>Event Title</th>
        <th>Event Note</th>
        <th>Event Date</th>
    </tr>
    {% for event in object_list %}
    <tr>
        <td>{{event.event_title}}</td>
        <td>{{event.event_description}}</td>
        <td>{{event.event_date}}</td>
        <td><a href="{% url 'event-update' event.id %}">Edit</a></td>
        <td><a href="{% url 'event-delete' event.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <p>No events in list</p>
    {% endfor %}
</table>