<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Settings</title>
    
    
    <!-- style -->
    <link rel="stylesheet" href="../static/settingsPageStyle.css" type="text/css">
    <!-- google font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!-- icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body>
    <header>
        <a href="{% url 'calendar-home' %}"><i class="ri-arrow-left-line go-back"></i></a>
        <h1>Settings</h1>
    </header>

    <div class="acc-details">

        <h2>Account Details</h2>
        <h4>Email Address</h4>
        {% if user.is_authenticated %}
            <p>{{fname}}</p>
        {% endif %}
        <h4>Mobile Number</h4>
        <p>1234567</p>
        <h4><a href="" class="change-pwd">Change password</a></h4>

          
    </div>
    
    <div class="buttons">
        <!-- sign out btn -->
        <button class="as-btn" type="submit" onclick="openPopup_logout()" onsubmit="return false">Logout</button>
            <!-- sign out confirmation -->
            <div class="signout-confirmation" id="logout-popup">
                <p>Are you sure you want to log out?</p>
                <div class="answer-options">
                    <a href="{% url 'sign-out' %}"> <button class="pu-btn" type="submit">Log out</button></a>
                   <a href="{% url 'settings-page' %}"> <button class="pu-btn c" type="submit">Cancel</button></a>
                </div>
            </div>

        <!-- clear events btn -->
        <button class="as-btn" type="submit"  onclick="openPopup_delEvents()" onsubmit="return false">Clear all events</button>
          <!-- sign out confirmation -->
          <div class="clearEvents-confirmation" id="clearEvents-popup">
            <p>Are you sure you want to clear all events?</p>
            <div class="answer-options">
                <a href=""><button class="pu-btn" type="submit">Clear events</button></a>
              <a href="{% url 'settings-page' %}"> <button class="pu-btn c" type="submit">Cancel</button></a>
            </div>
        </div>

        <!-- delete account btn -->
        <button class="as-btn" type="submit"  onclick="openPopup_delAcc()" onsubmit="return false">Delete account</button>
          <!-- sign out confirmation -->
          <div class="deleteAccount-confirmation" id="deleteAccount-popup">
            <p>Are you sure you want to delete account permanently?</p>
            <div class="answer-options">
                <a href=""> <button class="pu-btn" type="submit">Delete</button></a>
                <a href="{% url 'settings-page' %}"> <button class="pu-btn c" type="submit">Cancel</button></a>
            </div>
        </div>

    </div>


    <script src="../static/account-settings.js"></script>
</body>
</html>