<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calendar</title>

    <link rel="stylesheet" href="calendar-style.css">
    <!-- remixicon -->
    <link    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"    rel="stylesheet"/>
    <!-- Google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="headerbar">
        <div class="search-bar">
            <input type="search" name="searchEvent" placeholder="Search event">
        </div>
        <div class="monthYear-bar">
            <h1>January</h1><i class="ri-arrow-down-s-line"></i>
            <h1>2023</h1><i class="ri-arrow-down-s-line"></i>
        </div>
        <div class="accountAddevent-bar">
            <button>Add new event</button>
        </div>
    </div>
</body>
</html>