*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/*=====================Header bar=======================*/
.headerbar{
    height: 10vh;
    /* background-color: aqua; */
    display:flex;
}
.headerbar .void{
    flex-basis: 25%;
    /* background-color: rebeccapurple; */
   
}
.headerbar .Month-Year{
    flex-basis: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerbar .Month-Year i{
    padding: 10px;
}
.headerbar .profile{
    flex-basis: 25%;
    /* background-color: palegreen; */
    text-align: right;
    padding: 25px 15px;
}
.headerbar .profile i{
    border: 2px solid black;
    border-radius: 50%;
    padding: 4.5px;
}
.main{
    display: flex;
    /* background-color: antiquewhite; */
    /* height: 100vh; */
}
.main .events-bar{
    flex-basis: 25%;
    /* background-color: green; */
    display: block;
}
.main .calendar{
    flex-basis: 75%;
    /* background-color: cadetblue; */
}
.events-bar .search-add{
    display: flex;
    width: 100%;
    /* background-color: blanchedalmond; */
}
.events-bar .search-add input{
    flex-basis: 65%;
    margin: 12px 8px 12px 10px ;
    height: 30px;
    border-radius: 6px;
    padding: 10px;
    border: 2px solid #709D7C;
}
.events-bar .search-add button{
    flex-basis: 35%;
    margin: 12px 10px 12px 0 ;
    height: 30px;
    border-radius: 6px;
    border: 2px solid #709D7C;
    background-color: white;
}
.events-bar .events-block{
    height: 80vh;
    border-radius: 6px;
    border: 3px solid #709D7C;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}
.events-bar .events-block .date-heading{
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 10px;
}

/*=====================Days blocks=======================*/
.calendar{
    background-color: palegoldenrod;
    /* padding: 0 10px;  */
}
.day-names{
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.day-name{
    text-align: center;
    background-color: yellow;
    flex-basis: calc(100%/7);
    border-right:1px solid black ;
}
.days{
    background-color: red;
    height: 100%;
}
.day-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    height: calc(100%/5);
    background-color: pink;
    border-bottom: 1px solid black;
}
.day{
    width: calc(100%/7);
    border-right: 1px solid black;
    height: 100%;
    padding: 5px;
}