{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>MyCal</title>
    <!-- style -->
    <link rel="stylesheet" href="../static/calendar-Style.css">
    <!-- js for calendar navigation -->

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!-- icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <p class="user-id">{{user.id}}</p>
    <div class="main-pg">
        
        <div class="left-col">
            <!-- profile and datepicker -->
            <div class="top-row">
                <div class="profile">
                    <a href="{% url 'settings-page' %}"><i class="ri-settings-3-line settings"></i></a>
                </div>
                <div class="todaysDate-display">
                    
                </div>
                
            </div>
            <!-- search and add new event -->
            <div class="mid-row">
                <div class="search-btn">
                    <input type="search" placeholder="Search event" >
                    <button class="search-submitbtn" type="submit">Search</button>
                </div>
                <div class="add-new-btn">
                    <a href="{% url 'event-create' %}"><button>+ New event</button></a>
                </div>

            </div>
            <!-- events list -->
            <div class="bottom-row">
                <!-- <iframe src="eventsList.html" height="100%" width="100%"></iframe> -->
                    <div class="events">
                    <!-- add through js -->
                    <!-- <div class="event">
                        <div class="lhs">
                            <div class="title">
                                <h3 class="event__title">Event 1</h3>
                            </div>
                            <div class="note">
                                <p class="event__note">hi this is event no 1, it is very important xyzx dyzy xyz xyzyxz udhcuh j jd</p>
                            </div>
                        </div>
                        <div class="rhs">
                            <i class="ri-delete-bin-line"></i>
                            <i class="ri-pencil-line"></i>
                        </div>
                    </div> -->
                   
                </div>
            </div>
        <!-- </div> -->


        <!-- add new event popup -->
        <div class="new-event-popup" id="add-event-popup" data-keyboard="false" data-backdrop="static">
            <i class="ri-close-line close-popup"  onclick="closePopup()"></i>

            <form action="{% url 'saveNewEvent' %}" autocomplete="off" id="new-event-form" method="POST">
                {%csrf_token%}
                <label for="event-title">Event title</label>
                <input type="text" name="event-title" class="addEventTitle" id="eventTitle" placeholder="enter title" required>
                <label for="event-date">Event date</label>
                <input type="date" class="edate" name="event-date" id="eventDate" required>
                <label for="event-note">Event note</label>
                <textarea name="event-note" class="addEventNote" id="eventNote" cols="30" rows="3" placeholder="enter event note"></textarea>
                <div class="set-event-btn">
                    <button class="add-event-submit" onclick="closePopup()" type="submit">Set event</button>
                </div>
            </form>
        </div>
    </div>


        <div class="right-col">
            <div class="calendar">
                <div class="month-jump">
                    <div class="month">
                        <i class="ri-arrow-left-s-line prev" id="prev"></i>
                        <div class="date"></div>
                        <i class="ri-arrow-right-s-line next" id="next"></i>
                    </div>
                    <div class="goto-today">
                        <a href="{% url 'all_events' %}"><button>events</button></a>
                        <div class="goto">
                            <input type="text" placeholder="mm/yyyy" class="date-input">
                            <button class="goto-btn">Go</button>
                        </div>
                        <button class="today-btn">Today</button>
                    </div>
                </div>
                <div class="weekdays">
                    <div>sun</div>
                    <div>mon</div>
                    <div>tue</div>
                    <div>wed</div>
                    <div>thu</div>
                    <div>fri</div>
                    <div>sat</div>
                </div>
                <div class="days">
                    <!-- adding days through js -->
                </div>
                
            </div>
        </div>
    </div>











    <script src="../static/cal-navigation.js" defer></script>

</body>
</html>