{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>MyCal</title>
    <!-- style -->
    <link rel="stylesheet" href="../static/calendar-Style.css">
    <!-- js for calendar navigation -->

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!-- icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <div class="main-pg">
        <div class="right-col">
            <div class="calendar">
                
                <div class="month-jump">
                    <div class="settings-btn">
                        <a href="{% url 'settings-page' %}"><i class="ri-settings-3-line"></i></a>
                        <a href="{% url 'all_events' %}"><i class="ri-list-view"></i></a>
                    </div>
                    <div class="month">
                        <i class="ri-arrow-left-s-line prev" id="prev"></i>
                        <div class="date"></div>
                        <i class="ri-arrow-right-s-line next" id="next"></i>
                    </div>
                    <div class="goto-today">
                        <div class="goto">
                            <input type="text" placeholder="mm/yyyy" class="date-input">
                            <button class="goto-btn">Go</button>
                        </div>
                        <button class="today-btn">Today</button>
                    </div>
                </div>
                <div class="weekdays">
                    <div>sun</div>
                    <div>mon</div>
                    <div>tue</div>
                    <div>wed</div>
                    <div>thu</div>
                    <div>fri</div>
                    <div>sat</div>
                </div>
                <div class="days">
                    <!-- adding days through js -->
                </div>
                
            </div>
        </div>
    </div>











    <script src="../static/calendar-navigation.js" defer></script>

</body>
</html>