<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/login-style.css">         
        <!-- remixicon -->
        <link href=" https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    
    </head>
    <body>
       <div class="form-container">
        <!-- login form -->
        <div class="form login-form">
            <form action="{% url 'log-in-pg' %}" method="post">
                {% csrf_token %}
                <h2>Sign in to MyCal</h2>
                <div class="input-box">
                    <i class="ri-mail-line email"></i>
                    <input type="email" placeholder="Enter your email" name="login-email" required>
                </div>
                <div class="input-box ibp">
                    <i class="ri-lock-line password"></i>
                    <input type="password" placeholder="Enter your password" name="login-pass" required>
                    <i class="ri-eye-off-line pw_hide"></i>
                </div>
                
                <div class="option-field">
                    <span class="checkbox">
                        <input type="checkbox" id="check">
                        <label for="check">Remember me</label>
                    </span>
                    <a href="#" class="forgot_pw">Forgot password</a>
                </div>
                <button class="login-btn" type="submit">Login Now</button>
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        <h4>Alert:{{message}}</h4>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="login-signup">
                    Don't have an account? <a href="{% url 'sign-up-pg' %}" id="signup">Sign up</a>
                </div>
            </form>
        </div>
    </div>
    







       <script>
        formContainer = document.querySelector('.form-container'),
        signupBtn = document.querySelector('#signup'),
        loginBtn = document.querySelector('#login'),
        pwShowHide = document.querySelectorAll('.pw_hide');
        

        pwShowHide.forEach(icon => {
            icon.addEventListener("click", () =>{
            let getPwInput = icon.parentElement.querySelector("input");
            if(getPwInput.type==="password"){
                getPwInput.type="text";
                icon.classList.replace("ri-eye-off-line","ri-eye-line");
            }else{
                getPwInput.type="password";
                icon.classList.replace("ri-eye-line","ri-eye-off-line");
            }
        });
     });

        signupBtn.addEventListener("click", () => {
            e.preventDefault();
            formContainer.classList.add("active");
        });
        loginBtn.addEventListener("click", () => {
            e.preventDefault();
            formContainer.classList.remove("active");

        });


       </script>
    </body>
</html>