<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/resetPwdStyle.css">         
        <!-- remixicon -->
        <link href=" https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    
    </head>
    <body>
       <div class="form-container">
        <!-- login form -->
        <div class="form">
            <form action="{% url 'log-in-pg' %}" method="post">
                {% csrf_token %}
                <h2>Reset your password</h2>
                <div class="input-box">
                    <label for="login-email">Enter your registered email address:</label>
                    <div class="inputLogo">
                        <i class="ri-mail-line email"></i>
                        <input type="email" placeholder="Email" name="login-email" required>
                    </div>
                    <p>We will send an email to this address to change password</p>
                </div>
                <div class="btn">
                    <button class="login-btn" type="submit">Send email</button>
                </div> 
                <div class="login-signup">
                    <p>Remember your password? <a href="{% url 'log-in-pg' %}" id="signup">Sign in</a></p>
                    <p>Don't have an account? <a href="{% url 'sign-up-pg' %}" id="signup">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
    







       <script>
        formContainer = document.querySelector('.form-container'),
        signupBtn = document.querySelector('#signup'),
        loginBtn = document.querySelector('#login'),
        pwShowHide = document.querySelectorAll('.pw_hide');
        

        pwShowHide.forEach(icon => {
            icon.addEventListener("click", () =>{
            let getPwInput = icon.parentElement.querySelector("input");
            if(getPwInput.type==="password"){
                getPwInput.type="text";
                icon.classList.replace("ri-eye-off-line","ri-eye-line");
            }else{
                getPwInput.type="password";
                icon.classList.replace("ri-eye-line","ri-eye-off-line");
            }
        });
     });

        signupBtn.addEventListener("click", () => {
            e.preventDefault();
            formContainer.classList.add("active");
        });
        loginBtn.addEventListener("click", () => {
            e.preventDefault();
            formContainer.classList.remove("active");

        });


       </script>
    </body>
</html>