<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/sign-up-style.css">
        <!-- remixicon -->
        <link href=" https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    
    </head>
    <body>
        <div class="form-container">
               <!-- Sign up form -->
        <div class="form signup-form">
            <form action="" method="post">
                {% csrf_token %}
                <h2>Sign Up Here  </h2>
                <div class="input-box">
                    <input type="text" placeholder="Enter username" name="username" required>
                    <i class="ri-user-3-line name"></i>
                </div>
                <!-- <div class="input-box">
                    <input type="text" placeholder="Enter your last name" name="lastname" required>
                    <i class="ri-user-3-line name"></i>
                </div> -->
                <div class="input-box">
                    <input type="email" placeholder="Enter email" name="email" required>
                    <i class="ri-mail-line email"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Create password" name="password1" required>
                    <i class="ri-lock-line password"></i>
                    <i class="ri-eye-off-line pw_hide"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Confirm password" name="password2" required>
                    <i class="ri-lock-line password"></i>
                    <i class="ri-eye-off-line pw_hide"></i>
                </div>
                
                <!-- <div class="signup-btn">
                    <a href="loginpage.html" >Sign Up Now</a>
                </div> -->

                <button type="submit" class="signup-btn">Sign Up</button>

                <div class="login-signup">
                    <!-- {% comment %} Already have an account? <a href="loginpage.html" id="login">Login</a> {% endcomment %} -->
                    Already have an account? <a href="{% url 'log-in-pg' %}" id="login">Login</a>
                </div>
            </form>
        </div>
       </div>
    
       


       <script>
        pwShowHide = document.querySelectorAll('.pw_hide');
        pwShowHide.forEach(icon => {
            icon.addEventListener("click", () =>{
            let getPwInput = icon.parentElement.querySelector("input");
            if(getPwInput.type==="password"){
                getPwInput.type="text";
                icon.classList.replace("ri-eye-off-line","ri-eye-line");
            }else{
                getPwInput.type="password";
                icon.classList.replace("ri-eye-line","ri-eye-off-line");
            }
        });
     });

       </script>
    </body>
</html>





