<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="sign-up-style.css">
        <!-- remixicon -->
        <link href=" https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    
    </head>
    <body>
        <div class="form-container">
               <!-- Sign up form -->
        <div class="form signup-form">
            <form action="#">
                <h2>Sign Up</h2>
                <div class="input-box">
                    <input type="text" placeholder="Enter your first name" required>
                    <i class="ri-user-3-line name"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter your last name" required>
                    <i class="ri-user-3-line name"></i>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Enter your email" required>
                    <i class="ri-mail-line email"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Create password" required>
                    <i class="ri-lock-line password"></i>
                    <i class="ri-eye-off-line pw_hide"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Confirm password" required>
                    <i class="ri-lock-line password"></i>
                    <i class="ri-eye-off-line pw_hide"></i>
                </div>
               

                 <button class="signup-btn">Sign Up Now</button>

                <div class="login-signup">
                    Already have an account? <a href="loginpage.html" id="login">Login</a>
                </div>
            </form>
        </div>
       </div>
    
       


       <script>
        pwShowHide = document.querySelectorAll('.pw_hide');
        pwShowHide.forEach(icon => {
            icon.addEventListener("click", () =>{
            let getPwInput = icon.parentElement.querySelector("input");
            if(getPwInput.type==="password"){
                getPwInput.type="text";
                icon.classList.replace("ri-eye-off-line","ri-eye-line");
            }else{
                getPwInput.type="password";
                icon.classList.replace("ri-eye-line","ri-eye-off-line");
            }
        });
     });

       </script>
    </body>
</html>





